/*========Common class========================*/
.flexClass{
    display: flex;
    align-items: center;
}
.buttonClass{
    background:#94bafc;
    box-shadow: white;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}
/*============Header==============*/
.schedule{
    width: 900px;
    height: 600px;
    background-color: #94bafc;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 11px;
}
header{
    width: 800px;
    background-color: #fffbe4;
    border: 1px solid black;
    margin-top: 30px;
    justify-content: space-between;
    position: relative;
    border-radius: 7px;
}
.header-logo img{
    width: 30%;
    padding-left: 30px;
}
.header-addNewVisit{
    width: 150px;
    height: 50px;
    margin-right: 30px;
    border-collapse: collapse;
    background-color: #94bafc;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    margin-bottom: 2px;
    margin-top: 1px;
    border: 1px black solid;
}
.header-modalReasonVisit{
    width: 15vw;
    background-color: #94bafc;
    position: absolute;
    top:50px;
    right: 50px;
    display: none;
    border-radius: 7px;
}
.header-modalForm{
    flex-direction: column;
    border: 2px solid #9c9c9c;
    border-radius: 7px;
}
.inputParamVisit{
    width: 80%;
    border-radius: 7px;
}
.buttonCreateVisit{
    width: 80%;
    border-radius: 7px;
}
.buttonExitVisit{
    position: absolute;
    top: 0;
    right: 0;
}
.header-modalLine{
    width: 80%;
    border-bottom: 2px solid #9c9c9c;
}
.containerProfiled{
    flex-direction: column;
}
#header-modalDoctorSpecialty{
    border-radius: 7px;
    width: 130px;
}
/*=============serviceDesk===========================*/
.serviceDesc{
    width: 800px;
    height: 385px;
    background-color: #fffbe4;
    border: 1px solid black;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    border-radius: 7px;
}

.register{
    position: absolute;
    top: 0;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 54, 122, 0.8);

}

.registerFormField{
    justify-content: center;
    align-items: center;
}
.registerForm{
    flex-direction: column;
    color: white;
}

.submitButton{
    width: 95%;
    color: white;
}
